extends layout
block append scripts
  link(href="/static/css/burndown.css", type="text/css", rel="stylesheet")
  script(src='/static/js/defects.js')
  script
    $(function() {
      $("table#defects").tablesorter();
    });
  script(src='https://www.google.com/jsapi', type="text/javascript")
  script(src='/static/js/burndown.js', type="text/javascript")
  |<script type="text/javascript">
  |    var burndown_data = !{JSON.stringify(burndown.get_data())};
  |</script

block content
  .container
    .content
      if burndown.get_err()

        p The version_one API returned the following error (for burndown ):
        p.alert!=trace(burndown.get_err())
      else if burndown.get_data()
        h1 VersionOne - The Burndown
        h3(style="margin-top: 20px;")
          | Select project
          select#graph-picker
        div#charts
        div(style="clear:both")

      if version_one
        h1.title
          span.arrow ▶
          |  VersionOne - Defects
          span.sevcount #{version_one.get_data().total}
        if version_one.get_err()
          p The version_one API returned the following error:
          p.alert!=trace(version_one.get_err())
        else
          div#defects
            - each v, k in version_one.get_data().byAge
              hr
              h2.bucket
                span.arrow \u25B6
                span.sevcount #{v.total_count}
                #{k}
                for vcount, ksev in v.sev_count
                  if vcount != 0
                      if ksev === "1"
                        span.sev.sev1(title="Severity 1") #{vcount}
                      if ksev === "2"
                        span.sev.sev2(title="Severity 2") #{vcount}
                      if ksev === "3"
                        span.sev.sev3(title="Severity 3") #{vcount}
                      if ksev === "4"
                        span.sev.sev4(title="Severity 4") #{vcount}
                      if ksev === "?"
                        span.sev.sevq(title="Severity Unknown") #{vcount}
              div.table.collapsible
                table.defects.sortable.table-striped.hide
                  thead
                    tr
                      th Created
                      th Status
                      th Severity
                      th Changed By
                      th Defect Name
                  tbody
                    if v.defects.length
                      - each asset in v.defects
                        tr
                          -var create_date = new Date(asset.attributes['CreateDate'].text);
                          td #{create_date.getMonth()+1}/#{create_date.getDate()}
                          td #{asset.attributes['Status.Name'].text || '-'}
                          td(class="sev#{asset.severity}") #{asset.attributes['Custom_Severity.Name'].text || '-'}
                          td
                            a(href="http://#{version_one.get_config().host}/#{version_one.get_config().name}/member.mvc/Summary?oidToken=#{asset.relations['ChangedBy'][0].idref}") #{asset.attributes['ChangedBy.Name'].text || '-'}
                          td
                            a(href=utils.v1_id_to_url(version_one.get_config(), asset.id)) #{asset.attributes['Name'].text}

