extends layout

block append css
  link(href='/static/css/highscores.less', rel='stylesheet/less', type='text/css')

block content
  .container
    .content
      h2.title #{username} Score Breakdown
      table
        thead
          tr
            th Time
            th API
            th Story Points
            th Multiplier
            th Points
        tbody
          each row in events
            tr
              td.time=humane_time(row.time)
              td.related_api=row.related_api
              td.story_ponits=row.story_points
              td.multiplier=row.multiplier
              td.points=row.points
