extends layout

block append css
  link(href='/static/css/highscores.less', rel='stylesheet/less', type='text/css')

block content
  .container
    .content
      if highscores.config || github.config
        h1.title #{req.params.project.toUpperCase()} LEGENDS
        if highscores.error
          p.alert
            |The highscores API returned the following error:
            |<br />
            !=trace(highscores.error)
        else if errors
          p.alert
            !=trace(errors)
        else
          table(class="feats-table")
            each row,i in data
              -var href=req.path + "/" + encodeURI(row.name) + "?" + query_string;
              tr(onclick="window.location.href='"+href+"';", style="cursor: pointer;")
                td.place=number_to_place(i)
                td.name
                  div=row.name
                td.score=row.score
                td.modifier
                  if i === 0
                    |!!!
                  else if i === 1
                    |!!
                  else if i === 2
                    |!
        include includes/highscores_footer
