extends layout

block append css
  link(href='/static/css/highscores.less', rel='stylesheet/less', type='text/css')

block content
  .container
    .content
      h2.title FEATS OF #{display_name.toUpperCase()}
      h3.title OF
        | <nbsp/>
        i  #{req.params.project.toUpperCase()},

      h3.title
        i
          if alias
            | THE #{alias}
          else
            | THE UNKNOWN

      table(style="font-size: 20px;")
        thead
          tr
            th HOUR
            th FEAT
            th POINTS
            th X
            th TOTAL
        tbody
          each row in events
            tr
              td.time=humane_time(row.time)
              td.title
                a(href=row.url) #{row.title}
              td.story_ponits=row.story_points
              td.multiplier
                |x#{row.multiplier}
              td.points=row.points
      -var label_start = "BEGIN";
      -var label_end = "END";
      include includes/time_form
      h2
        a(href="#{req.path}?all=true") SHOW ALL GLORIOUS FEATS
