extends layout

block append css
  link(href='/static/css/highscores.less', rel='stylesheet/less', type='text/css')

block content
  .container
    .content
      if highscores.config
        h1.title #{req.params.project} LEGENDS
        if highscores.error
          p.alert
            |The highscores API returned the following error:
            |<br />
            !=trace(highscores.error)
        else
          table
            each row,i in data
              -var href=req.path + "/" + encodeURI(row.name) + "?" + query_string;
              tr(onclick="window.location.href='"+href+"';", style="cursor: pointer;")
                td.place=number_to_place(i)
                td.name=row.name
                td.score=row.score
        include includes/time_form
        a(href="#{req.path}?all=true") Show all