extends layout

block append css
  link(href='/static/css/highscores.less', rel='stylesheet/less', type='text/css')
block append scripts
  script(src="/static/js/jquery-ui-1.8.20.custom.min.js", type="text/javascript")
  script(src="/static/js/highscores.js", type="text/javascript")

block content
  .container
    .content
      h2.title FEATS OF #{display_name.toUpperCase()}
      h3.title#lordly-title
        i
          a
            if aliases
              |  THE #{aliases}
            else
              |  THE UNKNOWN
      h3.title OF THE REALM
        | <nbsp/>
        a(href="../highscores") #{req.params.project.toUpperCase()}

      div#title-maker
        h3.title.center SUBMIT A NOBLE TITLE
        form(method="POST", action='/add-title')
          label(for="display_name") TITLE:
          input(name="display_name", type="text", value=display_name)
          for api in supported_apis
            -var alias = aliases[api] || {alias: null}
            label(for=api) #{api.toUpperCase().replace('_', " ", 1)}:
            input(name=api, type="text", value=alias.alias)

          input(name="submit", type="submit", value=" SUBMIT ")

      table(style="font-size: 20px;", class="feats-table")
        thead
          tr
            th.left HOUR
            th FEAT
            th POINTS
            th X
            th.right TOTAL
        tbody
          each row in events
            tr
              td.time.left=humane_time(row.time)
              td.title
                a(href=row.url) #{row.title}
              td.story_ponits=row.story_points
              td.multiplier
                |x#{row.multiplier}
              td.points.right=row.points
      -var label_start = "BEGIN";
      -var label_end = "END";
      h2
        a(href="#{req.path}?all=true") SHOW ALL GLORIOUS FEATS
      include includes/time_form
