extends layout

block append css
  link(href='/static/css/index.less', rel='stylesheet/less', type='text/css')

block append scripts
  script(src='/static/js/contacts.js')

block content
  if devops.devopsJSON_URL
    a(href="#{devops.devopsJSON_URL}")
      img(style="position: absolute; top: 42px; right: 0; border: 0;", src="/static/images/edit-devops-right.png")
  #timeline
    include includes/timeline_event


  .container-fluid
    div.page-header
      span3
        #banner-block
          h1 #{devops.name}  <small>#{devops.description}</small>
    .row-fluid
      .span3
        #links-block
          h2 Links
          ul
            each uri, name in devops.links
              li
                a(href='#{uri}') #{name}

      .span3
        #contacts-block
          h2#contacts-header Contacts \u25B6
          .contacts
            if pager_duty
              if pager_duty.get_err()
                p.alert!=trace(pager_duty.get_err())
            for team in devops.contacts
              include includes/team_contacts

      .span3
        if devops.environments.length
          #environments-block
            include includes/environments

        if version_one
          #versionone-block.middleware-block
            include includes/version_one

        if new_relic
          #newrelic-block.middleware-block
            include includes/new_relic

        if dreadnot
          #dreadnot-block.middleware-block
            include includes/dreadnot

  script(src='/static/jquery/jquery-1.7.1.min.js')
  script(src='/static/bootstrap/js/bootstrap.min.js')