!!! 5
html(lang='en')
  head

    title=title()

    block meta
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content='')
      meta(name='author', content='')

    block css
      link(href='/static/bootstrap/css/bootstrap.css', rel='stylesheet')
      link(href='/static/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
      link(href='/static/css/all.less', rel='stylesheet/less', type='text/css')
      link(id="page_favicon", href="/static/images/favicon.png", rel="icon", type="image/x-icon")

    block scripts
      script(src='/static/html5.js')
      script(src='/static/jquery/jquery-1.7.1.min.js')
      script(src='/static/jquery/jquery.tablesorter.min.js')
      script(src='/static/jquery/tinysort-1.4.29.js')
      script(src='/static/bootstrap/js/bootstrap.min.js')
      script(src='/static/bootstrap/js/bootstrap-dropdown.js')
      script(src='/static/less/less-1.2.2.js')

  body
    .notbootstrap-navbar
      .notbootstrap-navbar-inner
        .notbootstrap-container-fluid
          if '/' == url
            a.active.brand(href='/')
              img(src='/static/images/gutsy-grey-25px.png', width='17px', height='10px')
              |  #{settings.gutsy_title}
          else
            a.brand(href='/')
              img(src='/static/images/gutsy-grey-25px.png', width='17px', height='10px')
              |  #{settings.gutsy_title}
          ul.internal
            -var navbar_obj = navbar(this)
            each _url, text in navbar_obj
              if _url == url
                li.active
                  a(href='#{_url}') #{text}
              else
                li
                  a(href='#{_url}') #{text}
          ul.external
            if "/about" == url
              li.active
                a(href='/about') About
            else
              li
                a(href='/about') About

    block content
