extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Projects
            table
              tbody
                each name in projects
                  tr
                    td(width='50%')
                      a(href='/p/#{name}') #{name}
                    td(width='50%', style='text-align: right;') crawled #{humane_time(last_crawl_time[name])}
            each uri, name in external_projects
              li
                a(href='#{uri}') #{name}

          #crawl-button
            form(action='/crawl', method='POST', onsubmit='setTimeout(function (){window.location.reload();}, 1000);')
              input(type='submit', value='Crawl all the projects')

        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
      .span9
        .hero-unit
          h1 All of the Dashboards
          h2

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
