extends layout

block content
  a(href="https://github.com/racker/gutsy")
    img(style="position: absolute; top: 42px; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
  .container-fluid
      .span12
        .well
          .hero-unit
            h1 All of the Dashboards
          table(style="width: 100%;")
            thead
              th(style="width: 30").left Projects
              th.left Description
              th.left Tags
              th.right Crawled
            tbody
              each project in projects
                tr
                  td(style="width: 30%")
                    a(href='/p/#{project.project}', title='#{project.tags}') #{project.name}
                  td
                    #{project.description}
                  td
                    if project.tags
                      #{project.tags.join(' ')}
                  td(style='text-align: right;')
                    |crawled #{humane_time(last_crawl_time[project.project])}
          #crawl-button
            form(action='/crawl', method='POST', onsubmit='setTimeout(function (){window.location.reload();}, 1000);')
              input(type='submit', value='Crawl all the projects')
          ul
            each uri, name in external_projects
              li
                a(href='#{uri}') #{name}

        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
            li
              a(href='/about') About

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
