extends layout

block append css
  link(href="/static/css/meta_index.less", rel='stylesheet/less', type='text/css')

block append scripts
  script(src="/static/js/jquery-ui-1.8.20.custom.min.js", type="text/javascript")
  script(src="/static/js/meta_index.js", type="text/javascript")
  script(src='/static/bootstrap/js/bootstrap.min.js')

block content
  a(href="https://github.com/racker/gutsy")
    img(style="position: absolute; top: 42px; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
  .container-fluid
      .span12
        .well
          .hero-unit
            h1 All of the Dashboards
          table(style="width: 100%;")
            thead
              th
              th(style="width: 30").left Projects
              th.left Description
              th.left Tags
              th.right Crawled
            tbody
              each project in projects
                tr
                  td
                    div(class="devops_url_editor", id="devops_url_editor-" + project.name)
                      h2 Edit
                      form(method="POST")
                        input(type="hidden", name="id", value=project.id)
                        label(for="name") Name
                        input(type="text", name="name", value=project.name)
                        label(for="url") URL
                        input(type="text", name="url", value=project.url)
                        input(type="submit", value="Save")
                    button(class="btn", value="#{project.name}") Edit
                  td(style="width: 30%")
                    a(href='/p/#{project.name}', title='#{project.devops.tags}') #{project.name}
                  td
                    #{project.devops.description}
                  td
                    if project.devops.tags
                      #{project.devops.tags.join(' ')}
                  td(style='text-align: right;')
                    |crawled #{humane_time(project.updated_at)}
          hr
          div(class="devops_url_editor", id="devops_url_editor-new-project")
            h2 Add project
            form(method="POST")
              label(for="project") Name
              input(type="text", name="name")
              label(for="url") URL
              input(type="text", name="url")
              input(type="submit", value="Save")
          button(class="btn", value="new-project") Add Project
          hr
          ul
            each uri, name in external_projects
              li
                a(href='#{uri}') #{name}

        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
            li
              a(href='/about') About
