extends layout

block append scripts
  script(src='/static/js/arcify.js')
  script
    edges = !{JSON.stringify(edges)}
    vertexes = !{JSON.stringify(vertexes)}
    projects = !{JSON.stringify(projects)}
    linked_vertexes = !{JSON.stringify(linked_vertexes)}
  script
    $(document).ready(function(){
      $('.project').tsort();
      //- Setting up tag filtering
      var tag_count = {};
      var tags = $('.tags').map(function() {
        return this.textContent.split(', ');
      });
      tags.sort();
      $.each(tags, function(i, value) {
        if (tag_count[value]) {tag_count[value]++;}
        else {tag_count[value] = 1;}
      });
      tags = _.uniq(tags);
      $.each(tags, function(i, value) {
        nospace = value.replace(/\ /g,'\-'); // This sucks, fix me.
        if (value !== "") {$('.filters > ul').append(
          '<li id="' + nospace + '-filter"><a>' + value + '</a> <span class="muted">(' +tag_count[value] + ')</span> </li>'
        );}
        $('#'+nospace+'-filter').toggle(
          function () {
            $(this).find('a').css({"color": "red"});
            $('.tags').not(':contains('+value+')').parent().hide();
          },
          function () {
            $(this).find('a').css({"color": "#08C"});
            $('.tags').not(':contains('+value+')').parent().show();
          }
        );
      });
    })
block append css
  link(href="/static/css/meta_index.less", rel='stylesheet/less', type='text/css')
  style(type="text/css")
    //body {background-image:url('/static/images/gutsy-2.gif'); background-repeat:no-repeat; background-attachment:scroll; background-position: 95% 100%;}

block content
  .container-fluid
    .row-fluid
      div.span2
        .well
          div
            // Buttons
            button(href="#new-project-modal", data-toggle="modal").btn
              i.icon-plus
              | Add Project

          // Add project modal
          div(class="modal hide", id="new-project-modal")
            div.modal-header
              h1 Add project
            div.modal-body
              form(id="new-project-form", method="POST")
                label(for="project")
                  h4 Project Name
                input(type="text", name="name")
                label(for="url")
                  h4 Devops.json URL
                input(type="text", name="url")  
                hr
                input(id="new-project-submit", class="btn btn-primary", type="submit", value="Save")
          div.filters
            h4 Tag Filters
            ul.unstyled
              each count, tag in tags
                li
                  a(href="/?tags="+encodeURI(tag))
                    #{tag}
                  span.muted (#{count})
      // Projects
      div.span10#arc
