.environment
  h2 Environments
    for environ in devops.environments
      h4 #{environ.type} 
      h6 #{environ.platforms} #{environ.regions}
      if environ.links
        ul 
          for link,name in environ.links
            li
              a(href=link) #{name}
