-var id = id;
-var start = start;
-var end = end;
-var label_start = label_start
-var label_end = label_end
div
  form(method="GET", id=id, class="time-form")
    table
      tr
        td
          label(for="start")
            if label_start
              #{label_start}
            else
              | Start
        td
          input(id="start", type="text", name="start", value=start, style="margin-right: 15px;")
        td
          label(for="end")
            if label_end
              #{label_end}
            else
              | End
        td
          input(id="end", type="text", name="end", value=end)
        td
          input(type="submit", value=" GO! ", class="form-submit btn-success", style="width: 70px; height: 30px;")
    -end = moment().toDate().toISOString()
    -start = moment(end).subtract('days', 1).toDate().toISOString()
    input(type="button", class="btn-info", onclick="$('#start').val('#{start}');$('#start').focus()", value="Past 24 hours")
    -start = moment(end).subtract('days', 7).toDate().toISOString()
    input(type="button", class="btn-info", onclick="$('#start').val('#{start}');$('#start').focus()", value="Past week")
    -start = moment(end).subtract('month', 1).toDate().toISOString()
    input(type="button", class="btn-info", onclick="$('#start').val('#{start}');$('#start').focus()", value="Past month")

