-var id = id;
-var start = start;
-var end = end;
-var label_start = label_start
-var label_end = label_end
script
  function flash_input(time) {
    $('#start').val(time);
    $('#start').animate({'opacity': 0.0}, 100, function () {
      $('#start').animate({'opacity': 1.0}, {duration: 100});
    });
  }
div
  form(method="GET", id=id, class="time-form")
    div
      label(for="start")
        if label_start
          #{label_start}
        else
          | Start
      input(id="start", type="text", name="start", value=start, style="margin-right: 15px;")
    div(style="float:right;")
      label(for="end")
        if label_end
          #{label_end}
        else
          | End
      input(id="end", type="text", name="end", value=end)
    div(style="float:none; clear:both;")
    div
      -end = moment().toDate().toISOString()
      -start = moment(end).subtract('days', 1).toDate().toISOString()
      input(type="button", class="btn-info time-button", onclick="flash_input('#{start}')", value=" Past 24 hours ")
      -start = moment(end).subtract('days', 7).toDate().toISOString()
      input(type="button", class="btn-info time-button", onclick="flash_input('#{start}')", value=" Past week ")
      -start = moment(end).subtract('months', 1).toDate().toISOString()
      input(type="button", class="btn-info time-button", onclick="flash_input('#{start}')", value=" Past month ")
      input(type="submit", value=" GO! ", class="form-submit btn-success time-button", style="margin-right: 0; float: right;")
    br(style="clear:both;")